@media screen and (min-width: 1023px) {
    .theme_showcase {
        height: auto;
        padding: 0 0 175px;
        overflow: hidden;
    }
    .theme_showcase {
        position: relative;
    }
    /* div {
        box-sizing: border-box;
    } */
    .theme_showcase .main_tab_bgcolor {
        height: 100vh;
        background-position: 50% 50% !important;
        background-size: cover !important;
        position: static;
        background-repeat: no-repeat !important;
    }
    .theme_showcase .tit {
        width: 100%;
        margin: 0;
        left: 0;
        top: 165px;
        position: static;
        padding: 162px 0 0;
    }
    .theme_showcase .tit h3 {
        margin: 0;
    }
    /* flex는 전체 적용하고 싶으면 그 div의 바로 위에다가 적용하자 */
    .wrap_theme {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* text-align: left; */
    }
    .wrap_theme div a span img {
        margin-right: 0;
        box-sizing: border-box;
        width: calc(100vw / 4);
        height: 610px;

        border-radius: 10px;
    }
    .wrap_theme div a {
        text-decoration: none;
    }
    .wrap_theme div a .text {
        text-align: center;
        font-family: 'GmarketSansMedium';
    }
    .wrap_theme div a .text strong {
        font-size: 18.5px;
        color: gold;
    }
    .wrap_theme div a .text p {
        color: goldenrod;
    }
    .wrap_theme .div {
        position: relative;
    }
    @font-face {
        font-family: 'GmarketSansMedium';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    .bottom {
        width: 100%;
        position: relative;
        margin: auto;
        box-sizing: border-box;
        height: auto;
        padding: 0;
        height: 65px;
        border-top: 42px solid #f0f0f0;
        background: #f0f0f0;
        overflow: hidden;
        padding-bottom: 102px;
        bottom: 0;
    }
    .bottom .sel_area {
        position: static;
        overflow: hidden;
        padding: 0 15px 6px;
    }
    .bottom .sel_area .sel_member {
        position: relative;
        background: none;
        border: 0;
    }
    .bottom .sel_area .sel_member select {
        background: #fff url(../images/main/ico_mselect5.png) 100% 50%/30px 8px no-repeat;
        padding: 0 0 0 15px;
        height: 35px;
        width: calc(100% - 65px);
        border-radius: 5px;
        font-size: 13px;
        line-height: 18px;
        border: 1px solid #bbb;
        color: #666;
        vertical-align: top;
    }
    .bottom .sel_area .sel_member #relation2 {
        margin-bottom: 10px;
    }
    .sel_area .sel_member button {
        width: 50px;
        font-size: 14px;
        display: inline-block;
        height: 35px;
        line-height: 35px;
        color: #fff;
        background: #777676;
        border-radius: 5px;
        text-align: center;
        font-size: 13px;
        position: absolute;
        right: 0;
        top: 0;
    }
    a:link {
        text-decoration: none;
    }
}

@media screen and (max-width: 1023px) {
    .theme_showcase {
        height: auto;
        padding: 0 0 175px;
        overflow: hidden;
    }
    .theme_showcase {
        position: relative;
    }
    /* div {
    box-sizing: border-box;
} */
    .theme_showcase .main_tab_bgcolor {
        height: auto;
        background-position: 50% 50% !important;
        background-size: cover !important;
        position: static;
        background-repeat: no-repeat !important;
    }
    .theme_showcase .tit {
        width: 100%;
        margin: 0;
        left: 0;
        top: 165px;
        position: static;
        padding: 162px 0 0;
    }
    .theme_showcase .tit h3 {
        margin: 0;
    }
    .bottom {
        width: 100%;
        position: relative;
        margin: auto;
        box-sizing: border-box;
        height: auto;
        padding: 0;
        height: 65px;
        border-top: 42px solid #f0f0f0;
        background: #f0f0f0;
        overflow: hidden;
        padding-bottom: 102px;
        bottom: 0;
    }
    .bottom .sel_area {
        position: static;
        overflow: hidden;
        padding: 0 15px 6px;
    }
    .bottom .sel_area .sel_member {
        position: relative;
        background: none;
        border: 0;
    }
    .bottom .sel_area .sel_member select {
        background: #fff url(../images/main/ico_mselect5.png) 100% 50%/30px 8px no-repeat;
        padding: 0 0 0 15px;
        height: 35px;
        width: calc(100% - 65px);
        border-radius: 5px;
        font-size: 13px;
        line-height: 18px;
        border: 1px solid #bbb;
        color: #666;
        vertical-align: top;
    }
    .bottom .sel_area .sel_member #relation2 {
        margin-bottom: 10px;
    }
    .sel_area .sel_member button {
        width: 50px;
        font-size: 14px;
        display: inline-block;
        height: 35px;
        line-height: 35px;
        color: #fff;
        background: #777676;
        border-radius: 5px;
        text-align: center;
        font-size: 13px;
        position: absolute;
        right: 0;
        top: 0;
    }
    a:link {
        text-decoration: none;
    }

    .wrap_theme .theme_temple_palace {
        position: relative;
    }
    .wrap_theme .theme_temple_palace .wrap {
        height: auto;
        position: static;
        box-shadow: 5px 8px 12px 0px rgba(34, 34, 34, 0.15);
        background: #fff;
        display: block;
        width: 100%;
        height: 323px;
        position: absolute;
        border-radius: 500px 500px 5px 5px;
        overflow: hidden;
    }
    .wrap_theme .theme_temple_palace .image {
        display: block;
        position: relative;
        width: 100%;
        overflow: hidden;
        border: 0 none;
    }
    img {
        box-sizing: content-box;
    }
}
